
/* ANDROID-SELECT CORE STYLING */

.__android_selector___wrapper{
    width:      125px;
    height:     25px;
}

.__android_selector___wrapper:hover{
    cursor:     pointer;
}

.__android_selector___options{
    height:     100%;
    z-index:    100;
    position: relative
}

.__android_selector___option{
    border:     1px solid rgb(130, 130, 130);
    text-align: center;
    z-index:    100;
    background-color: white;
}

.__android_selector___option_highlight:hover{
    background-color: #3297fd;
}

.__android_selector___option_disabled:hover{
    cursor: not-allowed;
}